div {
    width: 600px;
    border: solid 1px;
    border-color: rgb(92, 88, 88);
    border-radius: 0 10px;
}

li {
    list-style-image: url(../base1/img/lst.jfif);
    margin: 7px 0;
}

li img {
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s;
}

li a:hover img {
    width: 15px;
    height: 15px;
    opacity: 1;
}