.container {
    background-color: red;
}

.menu {
    width: 15em;
    background-color: cadetblue;
    float: left;
}

.article {
    background-color: rgb(161, 50, 102);
    margin-bottom: .2em;
    margin-left: 15.2em;
}

.clear {
    clear: both;
}

.footer {
    background-color: rgb(173, 190, 20);
}